@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 16px; /* Default font size for larger screens */
  --font-size-mobile: 14px; /* Font size for mobile screens */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #201a44;
  color: #f2cfff;
  font-family: "Rubik 80s Fade", sans-serif;
  font-size: var(--font-size);
}
@media (max-width: 767px) {
  body {
    font-family: "Black Ops One", sans-serif;
    font-size: var(--font-size-mobile);
  }
}

a {
  color: #ce4bff;
}

a:hover {
  color: #f2cfff;
}

.fade-in-section {
  opacity: 0;
  transition: opacity 1.5s ease-in-out; /* Adjust the transition duration as needed */
}

.fade-in-section.fade-in {
  opacity: 1;
}
