@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #201a44;
  color: #f2cfff;
  font-family: "Rubik 80s Fade", sans-serif;
}

a {
  color: #ce4bff;
}
