@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #201a44;
  color: #f2cfff;
  font-family: "Oswald", sans-serif;
}

a {
  color: #ce4bff;
}

#welcome {
  font-family: "Rubik 80s Fade", sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 1.5s ease-in forwards;
}
